.aboutButton {
    display: flex;
    cursor: pointer;

    &.floating {
        position: absolute;
        bottom: -2.5rem;
        left: 50%;
        transform: translate(-50%, 100%);
        z-index: 0;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: opacity 0.15s ease;

            background-image: url('../../public/icon-help-light-lightbg.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            z-index: º;
        }

        &:hover,
        &:active,
        &:focus {
            &:after {
                opacity: 1;
            }
        }
    }
}
