.contextData {
    position: absolute;
    top: spacer(1);
    right: spacer(1);
    color: white;
    @include f-small;
}

.logo {
    width: 14.7rem;
    height: 3rem;
    max-width: 40vw;

    @include theme('background-image', $url-logo);
    @include bg-contain;
    background-position: center bottom;
}
