
html {
    font-size: 62.5%; // 10px = 1rem
}

body {
    background: white;
    color: black;
    font-size: 2rem;
    line-height: 1.4; // 24px
    font-weight: normal;
    letter-spacing: 0.01em;
}

b, strong, a {
    font-weight: 500;
}