html {
    font-size: 62.5%; // 10px = 1rem
}

b,
strong,
a {
    font-weight: 500;
}

button {
    display: inline-block;
    width: fit-content;
    padding: 0.55em 1em;
    margin: spacer(1) auto;

    @include f-button;

    @include theme('background-color', $color-bg-button);
    @include theme('color', $color-text-button);
    border-radius: $border-radius;
    outline: 0px solid $transparent;
    transition: all 0.15s ease;

    cursor: pointer;

    &.alt {
        @include theme('background-color', $color-bg-button-alt);
        @include theme('color', $color-text-button-alt);
    }

    &.disabled {
        color: $gray;
    }

    &:hover {
        transform: scale(1.04);
        outline-color: $lightgreen;
        outline-width: 4px;
    }
}

::-moz-selection {
    /* Code for Firefox */
    color: $dark;
    background: $green;
}

::selection {
    color: $dark;
    background: $green;
}
