:root {
    --pad: 1.5rem;
    --halfpad: 1rem;
    --padx: var(--pad);
    --pady: var(--pad);
}

@media only screen and (min-width : 385px) {
    :root {
        --pad: 2rem;
        --halfpad: 1.5rem;
        --padx: var(--pad);
        --pady: var(--pad);
    }
}

@media only screen and (min-width : 767px) {     
    :root {
        --pad: 4rem;
        --halfpad: 2.5rem;
        --padx: 7rem;
        --pady: 4rem;
    }
}

@media only screen and (min-width : 990px) {
    :root {
        --pad: 7rem;
        --halfpad: 4rem;
        --padx: 12rem;
        --pady: 7rem;
    }
}

/* 
@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-rgb: 0, 0, 0;
    }
} 
*/
