.search {
    height: 5rem;
    padding-left: $pad-x;
    padding-right: $pad-x;

    display: flex;
    gap: 1rem;
    flex: 1;
    align-items: center;

    @include theme('background-color', $color-bg-card);

    z-index: 1;
    position: relative;
    top: -5rem;
    transition: top 0.4s ease;

    &.open {
        top: 0;
    }
}
