.search {
    height: 5rem;
    padding-left: $pad-x;
    padding-right: $pad-x;

    display: flex;
    gap: 1rem;
    flex: 1;
    align-items: center;

    z-index: 9;
    position: fixed;
    width: 100%;

    opacity: 0;
    top: calc($header_h - 5rem);
    transition: all 0.4s ease;

    &.open {
        opacity: 1;
        top: $header_h;
        @include theme('background-color', $color-bg-searchbar);
    }
}
