.audioPlayer {
    @include big-letters;
    @include cursor-play;
    max-width: 100%;

    .titleWrap {
        // x scroll
        width: max-content;
        margin-left: $pad-x;
        margin-right: $pad-x;

        display: block;
        position: relative;

        .base {
            display: block;
            position: relative;
            z-index: 1;
        }

        .over {
            position: absolute;
            z-index: 2;
            display: none;

            padding-top: 2rem;
            top: -2rem;
            left: 0;
            width: 0;
            height: 200%;

            overflow: hidden;

            pointer-events: none;

            @include f-audio-active;
            font-weight: inherit;

            .inner {
                display: block;
                width: max-content;
            }
        }
    }

    &.played {
        @include f-audio-played;

        // .titleWrap {
        //     .over {
        //         width: 6rem;
        //     }
        // }
    }

    &:hover {
        @include f-audio-hover;
    }

    &.active {
        .titleWrap {
            .over {
                display: block;
                // width: 30px;
            }
        }
    }

    &.activeForce {
        @include f-audio-active;
    }
}
