.button {
    display: inline-block;
    width: fit-content;
    padding: 0.55em 1em;
    @include f-button;

    @include theme('background-color', $color-bg-button);
    @include theme('color', $color-text-button);
    border-radius: $border-radius;

    &.alt {
        @include theme('background-color', $color-bg-button-alt);
        @include theme('color', $color-text-button-alt);
    }
}
