.info {
    margin: 0 auto;
    max-width: clamp(13em, 75%, 23em);
    text-align: center;

    &.highlight {
        @include theme('color', $color-text-highlight);
    }

    &.warning {
        color: $red;
        font-size: 0.9em;
    }

    &.splash {
        @include theme('color', $color-icons);
    }

    &.large {
        width: 90%;
        max-width: 20em;
        text-align: left;
    }

    &.box {
        padding: spacer(1) spacer(1.5);
    }

    &.flex {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    &.top {
        padding-top: 7rem;
    }

    b,
    strong {
        color: $red;
    }

    @include a-underline;
}
