.info {
    margin: 0 auto;
    max-width: 15em;
    text-align: center;

    &.highlight {
        @include theme('color', $color-text-highlight);
    }

    &.warning {
        color: $red;
    }

    &.splash {
        @include theme('color', $color-icons);
    }

    &.large {
        max-width: 90%;
        width: 20em;
        text-align: left;
    }

    b,
    strong {
        color: $red;
    }
}
