.bodyContainer {
    position: relative;
    min-height: 100vh;
    margin: 0;

    display: flex;
    flex-direction: column;

    @include theme('background-color', $color-bg);
    @include theme('color', $color-text);

    @include f-normal;

    .main {
        @include default-padding;

        flex-grow: 1;

        display: grid;
        align-content: start;
        gap: spacer(2);

        position: relative;

        &.footerSpace {
            margin-bottom: 7rem;
        }

        &.noHeader {
            margin-top: 0;
        }
    }

    &.noPaddings > .main {
        padding-right: 0;
        padding-left: 0;
    }
}
