$green: rgb(161, 221, 112);
$darkgreen: rgb(128, 155, 112);
$lightgreen: #a4d28f;

$red: #eb4e44;
$darkred: #921209;

$cream: #fffef9; // rgb(255, 254, 249)
$dark: #706c73; // rgb(112, 108, 115)
$gray: #a3a0a6;
$greengray: #e8ecd6; // rgb(232, 236, 214)
$cloud: rgba(232, 236, 214, 0.75);
$cloudlighter: rgba(232, 236, 214, 0.3);
$cloudfull: #eef1de;

$darker: #403f40;
$darkcloud: rgba(64, 63, 64, 0.65);
$darkcloudlighter: rgba(64, 63, 64, 0.3);
$darkcloudfull: #514f52;

// utility
$transparent: rgba(0, 0, 0, 0);
