$green: rgb(161, 221, 112);
$darkgreen: rgb(128, 155, 112);
$lightgreen: #a4d28f;

$red: #eb4e44;
$darkred: #921209;

$cream: #fffef9;
$dark: rgb(112, 108, 115);
$gray: #a3a0a6;
$cloud: rgb(232, 236, 214, 0.75);
$gray: #e8ecd6;

// utility
$transparent: rgba(0, 0, 0, 0);
