$green: #a1dd70;
$darkgreen: #809b70;
$lightgreen: #a4d28f;

$red: #eb4e44;
$darkred: #921209;

$cream: #fffef9;
$dark: #706c73;
$gray: #a3a0a6;
$cloud: rgb(232, 236, 214, 0.75);
$gray: #e8ecd6;

// utility
$transparent: rgba(0, 0, 0, 0);
