@function spacer($factor: 1) {
    @return calc(1.7rem * $factor);
}

$pad-x: spacer(1);
$pad-y: spacer(4);

$margin-top-audios: spacer(1.7);

@mixin default-padding {
    padding: $pad-y $pad-x;
}

@mixin bg-contain {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

@mixin bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

// border radius
$border-radius: 7px;
$border-radius-xl: 26px;

// header
$header_h: max(11rem, 7vh);
$header-h-l: max(14rem, 8.5vh);
