// Font mixins

@mixin f-normal {
    font-size: 2rem;
    line-height: 1.25;
    font-weight: 500;
    letter-spacing: 0;
}

@mixin f-small {
    font-size: 1rem;
    line-height: 1.15;
    font-weight: 400;
    letter-spacing: 0;
}

@mixin f-underline {
    font-size: 1.85rem;
    line-height: 1.3;
    font-weight: 400;
    text-decoration: underline;
    letter-spacing: 0;

    &:hover,
    &:focus,
    &:active {
        @include theme('color', $color-text-highlight);
    }
}

@mixin f-button {
    @include f-normal;
    line-height: 1;
    letter-spacing: 0.01em;
}

@mixin f-input {
    font-size: 2.7rem;
    line-height: 1.25;
    font-weight: 500;
    letter-spacing: 0.01em;
}

@mixin f-audio {
    font-size: 4.7rem;
    line-height: 0.85;
    font-weight: 500;
    letter-spacing: 0.005em;

    -webkit-text-stroke-width: 1px;
    @include theme('-webkit-text-fill-color', $color-audio);
    @include theme('-webkit-text-stroke-color', $color-audio-stroke);
}

@mixin f-audio-hover {
    @include theme('-webkit-text-fill-color', $color-audio);
    @include theme('-webkit-text-stroke-color', $color-audio-active);
}

@mixin f-audio-active {
    @include theme('-webkit-text-fill-color', $color-audio-active);
    @include theme('-webkit-text-stroke-color', $color-audio-active-stroke);
}

@mixin f-audio-played {
    -webkit-text-fill-color: transparent;
    // @include theme('-webkit-text-fill-color', $color-audio-active-stroke);
    @include theme('-webkit-text-stroke-color', $color-audio-active);
}

//
