.rec {
    border-radius: 50%;
    width: max(6.2rem, 62px);
    height: max(6.2rem, 62px);
    margin: spacer(0.8);
    background-image: url('../../public/rec.svg');
    @include bg-contain;

    cursor: pointer;

    &.disabled {
        background-image: url('../../public/rec-disabled.svg');
    }

    &.active {
        background-image: url('../../public/rec-active.svg');
    }

    transition: all 0.1s ease;
    &:hover,
    &:active,
    &:focus {
        opacity: .7;
    }

}
